.textFuent {
    font-family: "Times New Roman", serif !important;
    font-style: italic !important;
}

.efectoFuente {
    font-family: 'Roboto', monospace;
    display: inline-block;
    animation: cray 1.5s infinite steps(50);
  }
  
  @keyframes cray {
    0% {
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
    20% {
      font-style: italic;
      text-decoration: line-through;
      text-transform: uppercase;
    }
    40% {
      font-style: normal;
      text-decoration: none;
      text-transform: lowercase;
    }
    60% {
      font-style: normal;
      text-decoration: underline;
      text-transform: capitalize;
    }
    80% {
      font-style: italic;
      text-decoration: none;
      text-transform: uppercase;
    }
    100% {
      font-style: normal;
      text-decoration: none;
      text-transform: none;
    }
  }
  