.mServices {
  margin-bottom: 10rem !important;
}
.move-right-mobile {
  margin-left: 0; 
}

@media (max-width: 1024px) {
  .move-right-mobile {
    margin-left: 5vw;
  }
}

@media (max-width: 768px) {
  .move-right-mobile {
    margin-left: 5vw;
  }
}
